<div class="layout--box">
<header class="UI-modal--header">
 <strong>Share and save</strong>
</header>
<div class="UI-modal--content pure-form pure-form-stacked">
	<fieldset>
		 <label>URL: </label><input style="width: 100%" value="{{data.url}}" type="text">
		 <label>String:</label><textarea style="width: 100%">{{data.string}}</textarea>
		 <label>JSON:</label><textarea style="width: 100%">{{data.json}}</textarea>
	 </fieldset>
</div>
<footer class="UI-modal--footer pure-menu pure-menu-horizontal pure-menu-justified">
 <ul class="pure-menu-list">
  <li class="pure-menu-item">
   <a class="pure-menu-link" ng-click="closeThisDialog(0)">Close</a>
  </li>
 </ul>
</footer>
</div>