<div>
	<header class="UI-modal--header">
		<nav class="pure-menu pure-menu-horizontal pure-menu-centered">
			<ul class="pure-menu-list pure-menu-tabs">
				<li class="pure-menu-item">
					<a ng-model="tab" ui-toggle ui-toggle-link="#tabDesigners" class="pure-menu-link active" ui-group="tab1">Designer</a>
				</li>
				<li class="pure-menu-item">
					<a ng-model="tab" ui-toggle ui-toggle-link="#tabDevelopers" class="pure-menu-link" ui-group="tab2">Developer</a>
				</li>
				<!--<li class="pure-menu-item">
					<a ng-model="tab" ui-toggle ui-toggle-link="#tabMisc" class="pure-menu-link" ui-group="tab3">Misc.</a>
				</li>-->
			</ul>
		</nav>
	</header>
	<div class="UI-modal--content pure-form pure-form-aligned">
		<fieldset>
			<div id="tabDesigners" class="layout--hidde-inactive active">
				<div class="pure-control-group">
					<label>SVG:</label>
					<a ng-href="#" ng-click="data.svg.get()">Download&nbsp;<ui-icon type="download"></ui-icon></a>
				</div>
				<div class="pure-control-group">
					<label>GIMP/Inkscape palette:</label>
					<a ng-href="#" ng-click="data.gimp.get()">Download&nbsp;<ui-icon type="download"></ui-icon></a>
				</div>
			</div>
			<div id="tabDevelopers" class="layout--hidde-inactive">
				<!--<label>JSON:</label>-->
				<textarea style="width: 100%">{{data.json}}</textarea>
			</div>
			<!--<div id="tabMisc" class="layout--hidde-inactive">
				<div class="pure-control-group">
					<label>More...</label>
				</div>
			</div>-->
			<legend class="pure-control-group">
				<label>URL:</label>
				<a href="#" ng-href="{{data.url}}" target="_blank" title="Open link in a new tab">{{data.url | cut:false:30:'...'}}&nbsp;<ui-icon type="link"></ui-icon></a>
			</legend>
		</fieldset>
	</div>
	<footer class="UI-modal--footer pure-menu pure-menu-horizontal pure-menu-justified">
		<ul class="pure-menu-list">
			<li class="pure-menu-item">
				<a class="pure-menu-link" ng-click="closeThisDialog(0)">Close</a>
			</li>
		</ul>
	</footer>
</div>
