<nav class="pure-menu pure-menu-horizontal layout--menu-row">
  <ul class="pure-menu-list">
    <li class="pure-menu-item">
      <a ng-click="brightness(-1)" class="pure-menu-link">
        <ui-icon class="layout--menu-icon" type="less"></ui-icon>
      </a>
    </li>
    <li class="pure-menu-heading">Brightness</li>
    <li class="pure-menu-item">
      <a ng-click="brightness(+1)" class="pure-menu-link">
        <ui-icon class="layout--menu-icon" type="more"></ui-icon>
      </a>
    </li>
    <li class="pure-menu-separator"></li>
    <li class="pure-menu-item">
      <a ng-click="saturation(-1)" class="pure-menu-link">
        <ui-icon class="layout--menu-icon" type="less"></ui-icon>
      </a>
    </li>
    <li class="pure-menu-heading">Saturation</li>
    <li class="pure-menu-item">
      <a ng-click="saturation(+1)" class="pure-menu-link">
        <ui-icon class="layout--menu-icon" type="more"></ui-icon>
      </a>
    </li>
    <li class="pure-menu-separator"></li>
    <li class="pure-menu-item">
      <a ng-click="sort()" class="pure-menu-link">Re-order</a>
    </li>
  </ul>
</nav>