a {
    cursor: pointer;
}

.UI-modal {
    padding-top: 1em;
    padding-bottom: 0;
}

.app-toolbar {
	width: 100%;
}
.app-logo {
	margin-right: -1em;
}
.app-logo .app-title--icon {
	width: 2.5em;
    height: 2.5em;
    margin: -0.5em;
}
.palette {
	align-items: stretch;
    align-content: stretch;
}
.swatch {
    position: relative;
}

.swatch--meta {
    text-align: center;
    font-size: 160%;
}
.swatch--meta a {
    color: inherit;
    fill: inherit;
}

.swatch--meta-name {
    opacity: 0.7;
}

.swatch--meta-control {
    opacity: 0;
}
.swatch--meta-control:hover {
    opacity: 1;
}

.color-picker {
    width: 100%;
    font-size: 70%;
    line-height: 1.4em;
    background-color: #fff;
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
}
.color-picker,
.swatch--meta-control {
    transition: opacity 300ms;
    opacity: 0;
}
.swatch:hover .color-picker,
.swatch:hover .swatch--meta-control {
	opacity: 0.4;
}
.swatch:hover .color-picker:hover,
.swatch:hover .swatch--meta-control:hover {
	opacity: 1;
}
.color-picker nav {
	margin-bottom: 1em;
}
/*.color-picker.color-picker--light,
.color-picker.color-picker--light .pure-menu-tabs .pure-menu-link  {
    color: rgba(0,0,0,0.5);	
}

.color-picker .pure-menu-link.active {
	background-color: rgba(255,255,255,0.5);
	color: rgba(0,0,0,0.5);
}

.color-picker.color-picker--light .pure-menu-link.active {
	background-color: rgba(0,0,0,0.5);
	color: rgba(255,255,255,0.5);
}

.color-picker .UI-slider {
    fill: rgba(255,255,255,0.5);
    stroke: rgba(255,255,255,0.5);
}
.color-picker.color-picker--light .UI-slider {
    fill: rgba(0,0,0,0.5);
    stroke: rgba(0,0,0,0.5);
}

.color-picker .UI-slider--base,
.color-picker .UI-slider--knob {
    fill: rgba(255,255,255,0.2);
}
.color-picker.color-picker--light .UI-slider--base,
.color-picker.color-picker--light .UI-slider--knob {
    fill: rgba(0,0,0,0.2);
}*/